/* GENEL */

body {
    margin: 0;
    font-family: monospace;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.border {
    border: 1px solid black;
}

.anakutu {
    flex: 1;
    display: flex;
    flex-direction: row;

    min-height: 0;
}

.ickutu {
    flex: 1;
    padding: 1rem;
    background-color: transparent;

    max-height: 100%;
    min-height: 0;
}

.kocadiv {
    height: 100%;
    width: 100%;
    position: relative;

    overflow: auto;
}

.ortalayandiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buton {
    padding: 0.7rem;
    background-color: rgb(0, 0, 0, 0.03);
    border: 1px solid black;

    cursor: pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buton:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.gizli {
    display: none;
}

@media (max-width: 768px) {
  .anakutu {
    flex-direction: column;
  }
  .layout {
    height: calc(200vh - 50px);
  }
  .kocadiv {
    overflow: visible;
  }
  .topbar-baslik {
    display: none;
  }
}

/* TOPBAR */
.topbar {
    position: sticky;
    top: 0;
    height: 50px;

    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    z-index: 1000;
}

.topbar-sol {
    display: flex;
    align-items: center;
}

.topbar-sol-butonlar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.topbar-baslik {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 0.8rem;
}

.topbar-logovebaslik {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.topbar-logo {
    height: 30px;
}

/* LINKLER */
a:link,
a:visited {
    text-decoration: none;
    color: #0000EE;
}

a:hover {
    text-decoration: underline;
}

/* MENU EKRANI */
/** OKLAR **/
.mid-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    --kayma: calc(3px * sqrt(2) / 4);
}

.big-arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    
    --kayma: calc(4px * sqrt(2) / 4);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: translateY(var(--kayma)) rotate(-135deg) ;
    -webkit-transform: translateY(var(--kayma)) rotate(-135deg);
}

.down {
    transform: translateY(calc(-1 * var(--kayma))) rotate(45deg);
    -webkit-transform: translateY(calc(-1 * var(--kayma))) rotate(45deg);
}

#sagyemekok,
#solyemekok {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);

    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#sagyemekok:hover,
#solyemekok:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

#sagyemekok:active,
#solyemekok:active {
    background-color: rgba(0, 0, 0, 0.25);
}

#sagyemekok {
    right: 0;
}

#solyemekok {
    left: 0;
}

/** TARIH **/
#yemektarih {
    position: absolute;

    top: 0;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

/** PUAN YAZISI **/
.puan-wrapper {
    margin-top: 1rem;

    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#puan {
    font-weight: bold;
    font-size: 1.4rem;
}

#puanbolen {
    align-self: flex-end;
    margin-bottom: 0.15rem;
}

/** PUAN BUTONLARI **/
.butonlar {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.butongrid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 0.4rem;
    
    margin-top: 2rem;
}

.puanbuton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;

    border: 1px solid green;
    border-radius: 50%;

    background-color: rgba(0, 255, 0, 0.1);
    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.puanbuton:hover {
    background-color: rgba(0, 255, 0, 0.3);
}

.puan-secildi {
    border-color: blueviolet;
    border-width: 2px;
    background-color: rgb(138, 43, 226, 0.2);
}

.puan-secildi:hover {
    background-color: rgba(138, 43, 226, 0.3);
}

/* YORUMLAR */
.yorum-menu {
    position: absolute;

    bottom: 0;
    margin-bottom: 1rem;
}

.puan-yorum-bilgi {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#yorumyazbuton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yorumkutu {
    display: flex;
    flex-direction: column;
    
    border: 1px solid gray;

    margin-bottom: 0.8rem;
    padding: 0.5rem;
    gap: 0.5rem;
}

.vote-ok {
    cursor: pointer;
}

.vote-ok i {
    font-size: 6rem;
}

.upvote.vote-secildi i {
    border-color: orangered;
}

.downvote.vote-secildi i {
    border-color: royalblue;
}

.upvote.vote-ok:hover i {
    border-color: rgb(145, 43, 6);
}

.downvote.vote-ok:hover i {
    border-color: rgb(25, 44, 99);
}

.vote-sayi {
    font-weight: bold;
}

.yorum-ust {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yorum-ust-sag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
    padding-right: 0.3rem;
}

.sikayet-buton {
    padding: 0;
    background-color: rgb(255, 0, 0, 0.1);
    border: 1px solid red;
    
    width: 1rem;
    height: 1rem;

    text-align: center;
    font-weight: bold;
    color: red;
}

.sil-buton {
    padding: 0;
    background-color: rgb(153, 50, 204, 0.1);
    border: 1px solid darkorchid;

    width: 1rem;
    height: 1rem;

    text-align: center;
    font-weight: bold;
    color: darkorchid;
}

.sikayet-buton:hover {
    background-color: rgb(255, 0, 0, 0.2);
}

.yorum-tarih {
    color: gray;
}

.yorum-alt {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;

    padding-left: 0.4rem;
    gap: 1rem;
}

.vote-kutu {
    display: flex;
    flex-direction: row;
    
    align-content: center;
    justify-content: center;

    gap: 1rem;
}

.cevap-buton {
    padding: 0.2rem;
}

/* YORUM YAZMA VE CEVAP VERME FORMLARI */
.ekran-formlar {
    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    
    height: 100%;
    width: 100%;

    background-color: rgb(0, 0, 0, 0.5);

    z-index: 1000;
}

#yorum-form {
    position: relative;

    background-color: white;
    border: 1px solid black;

    padding: 1rem;
    padding-bottom: 0.6rem;

    display: flex;
    flex-direction: column;

    gap: 0.4rem;
}

#yorum-yazi {
    width: 18rem;
    height: 4em;
}

#form-kapat-buton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    width: 1rem;
    height: 1rem;
    text-align: center;

    color: red;
    background-color: rgb(255, 0, 0, 0.1);
    border: 1px solid red;

    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.yorum-form-alt{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.herkese-acik-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

#yorum-gonder-buton{
    padding: 0.3rem 2rem;
}

#yorum-input-baslik {
    font-weight: bold;
}

textarea {
    outline: none;
}