<template id="yorum-template">
    <div id="yorum-uuid" class="yorumkutu">
        <div class="yorum-ust">
            <div class="yorum-ust-sol">
                <a href="#" class="yorum-yazar"></a>
                <div class="yorum-yazar-yemek-puan"></div>
            </div>
            <div class="yorum-ust-sag">
                <div class="yorum-tarih"></div>
                <div class="sikayet-buton buton">!</div>
            </div>
        </div>
        <div class="yorum-metin"></div>
        <div class="yorum-alt">
            <div class="vote-kutu">
                <div class="upvote vote-ok"><i class="big-arrow up"></i></div>
                <div class="vote-sayi"></div>
                <div class="downvote vote-ok"><i class="big-arrow down"></i></div>
            </div>
            <div class="cevap-buton buton">Cevap Ver</div>
        </div>
    </div>
</template>